agm-map {
  height: 100vh;
  width: 100%;
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff!important;
  text-decoration: none;
  background-color: #00a4da!important;
}

.gm-style .gm-style-iw-c {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  top: 0;
  left: 0;
  transform: translate3d(-50%,-100%,0);
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 35px 7px rgb(0 0 0 / 32%)!important;
  width: 50%!important;
}