
<main class="wrapper">
  <!-- CONTENT AREA -->
  <article class="home-three">
      <!-- <app-header></app-header> -->
      <router-outlet></router-outlet>

      <ngx-ui-loader></ngx-ui-loader> <!-- <ngx-http-loader  [filterHttpMethods]="['POST', 'DELETE']" [opacity]="0.9" [title]="'yippiGo'" [subTitle]="'Plan your destinatons and holidays in the best way..'" [loader]="loader.ELLIPSIS" [iconColor]="'white'" [backdropBackgroundColor]="'black'">
      </ngx-http-loader> -->
      <!-- <app-footer></app-footer> -->
  </article>
</main>
