<!-- Blog Start -->
<section class="light-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
                <div class="home_content left-0" style="width: calc(100% - 0px); z-index:3;">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-fixed"
                        style="width: calc(50% - 0px);">
                        <div class="navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <i (click)="backplace()" class="fa fa-arrow-left"></i>
                                </li>
                            </ul>
                            <div class="">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button class="dark-btn-small"><i class="fa fa-share"></i>&nbsp;&nbsp;Share</button>
                                    <div class="dropdown">
                                        <button class="btn btn-light dropdown-toggle" type="button"
                                            id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false"><i
                                                class="fa fa-ellipsis-h"></i></button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#"><i class="fa fa-cog"></i>&nbsp;Trip
                                                Setting</a>
                                            <a class="dropdown-item" href="#"><i
                                                    class="fa fa-question"></i>&nbsp;FAQ</a>
                                            <a class="dropdown-item" href="#"><i class="fa fa-print"></i>&nbsp;Print
                                                this Trip</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <div class="page-section  padding-0">
                        <section class="sec-space-top pb-5 height100vh">
                            <div class="page-section container">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <h4>48 Hours in Delhi: The Perfect Itinerary</h4>
                                        <a target="_blank" href="https://www.fodors.com/world/asia/india/delhi/things-to-do/sights" type="button" class="btn btn-explore">Read more on fodors.com</a>
                                    </div>
                                </div>
                                <div class="row pt-30">
                                    <div class="col-md-1 col-lg-1">
                                        <i class='fa fa-map-marker map-icons'></i>
                                    </div>
                                    <div class="col-md-8 col-lg-8 padding-0">
                                        <span class="explore-text">Qutub Minar</span>
                                        <div class="mtt-5">
                                            <span
                                                class="badge badge-lightGray Badge__lightGray text-nowrap Badge__badge mr-1">Monument</span>
                                            <span
                                                class="badge badge-lightGray Badge__lightGray text-nowrap Badge__badge mr-1">Points
                                                of Interest &amp; Landmarks</span>
                                            <span
                                                class="badge badge-lightGray Badge__lightGray text-nowrap Badge__badge mr-1">Sights
                                                &amp; Landmarks</span>
                                            <span
                                                class="badge badge-lightGray Badge__lightGray text-nowrap Badge__badge mr-1">Historical
                                                place</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-3" align="right">
                                        <div class="dropdown">
                                            <button class="dark-btn-small" type="button">
                                                <i class="fa fa-bookmark"></i>&nbsp;&nbsp;Add to Trip
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row ptb-10">
                                        <div class="col-md-1 col-lg-1">
                                        </div>
                                        <div class="col-md-10 col-lg-10">
                                            <img src="https://itin-dev.sfo2.cdn.digitaloceanspaces.com/freeImageSmall/HnlqskQcEspfQtVs3kDlhzQp1KbtU8rA"
                                                class="explore-img">
                                            <div class="exploreplace-text">
                                                <p>7 a.m.: Rise and shine early, and art the day with a refreshing walk
                                                    in Lodhi Gardens (Lodh art the day with a refreshing walk in Lodhi
                                                    Gardens (Lodh start the day with a refreshing walk in Lodhi Gardens
                                                    (Lodhi Road, New Delhi). As well as being a favorite morning
                                                    destination of Delhi's local residents, Lodhi Gardens is home to a
                                                    number of monuments, including tombs of 15th and 16th-century
                                                    rulers. The gardens were built around them by the British in 1936.
                                                    (Entry fee: Free for all).</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-4 col-sm-12 col-xs-12 padding-0 travel-map">
            <agm-map [latitude]='lat' [longitude]='long' [zoom]='zoom'>
                <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng">
                    <agm-info-window #infoWindow>
                        {{ marker.label }}
                    </agm-info-window>
                </agm-marker>
            </agm-map>
        </div>
    </div>
</section>
<!-- / Blog Ends -->